<p class="subtitle">
  All instances report
</p>
<div class="table-container">
  <table id="instances" class="table is-bordered is-fullwidth is-striped" data-page-length="<%= settings.page_size %>">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Resources</th>
        <th><abbr title="Archival Objects">A.Objs</abbr></th>
        <th>Containers</th>
        <th>Accessions</th>
        <th><abbr title="Digital Objects">D.Objs</abbr></th>
        <th>Users</th>
        <th><abbr title="Computed relative size">Score</abbr></th>
        <th><abbr title="Last login date of any non-system user">Last Login</abbr></th>
      </tr>
    </thead>
    <tbody>
    <% @report.each do |r| %>
      <tr>
        <td>
          <a href="/reports/instances/<%= r['code'] %>"><%= r['code'] %></a>
          <span class="icon is-pulled-right" title="Staff Url">
            <a href="<%= r['frontend_url'] %>" target="_blank"><ion-icon name="person-circle-outline"></ion-icon></a>
          </span>
          <% if r['public_url'] !~ /localhost/ %>
          <span class="icon is-pulled-right" title="Public Url">
            <a href="<%= r['public_url'] %>" target="_blank"><ion-icon name="globe-outline"></ion-icon></a>
          </span>
          <% end %>
        </td>
        <td><%= r['name'] %></td>
        <td><%= r['resources'] %></td>
        <td><%= r['archival_objects'] %></td>
        <td><%= r['containers'] %></td>
        <td><%= r['accessions'] %></td>
        <td><%= r['digital_objects'] %></td>
        <td><%= r['users'] %></td>
        <td><%= r['score'] %></td>
        <td><%= r['last_login'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<p class="subtitle">All instances resource count</p>
<%=
  bar_chart(
    ASpaceInsightsApi::Chart.by_property(@report, 'code', 'chart_resources'),
    height: "#{(@report.count * 75) + 40}px"
  )
%>

<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script>
  $(document).ready(function() {
    $('#instances').DataTable();
  });
</script>
