<p class="subtitle">
  All instances report
</p>
<div class="table-container">
  <table id="instances" class="table is-bordered is-fullwidth is-striped" data-page-length="<%= settings.page_size %>">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Resources</th>
        <th><abbr title="Archival Objects">A.Objs</abbr></th>
        <th>Containers</th>
        <th>Accessions</th>
        <th><abbr title="Digital Objects">D.Objs</abbr></th>
        <th>Users</th>
        <th><abbr title="Computed relative size">Score</abbr></th>
        <th><abbr title="Last login date of any non-system user">Last Login</abbr></th>
      </tr>
    </thead>
    <tbody>
    <% @report.each do |r| %>
      <tr>
        <td><a href="/reports/instances/<%= r['code'] %>"><%= r['code'] %></a></td>
        <td><%= r['name'] %></td>
        <td><%= r['resources'] %></td>
        <td><%= r['archival_objects'] %></td>
        <td><%= r['containers'] %></td>
        <td><%= r['accessions'] %></td>
        <td><%= r['digital_objects'] %></td>
        <td><%= r['users'] %></td>
        <td><%= r['score'] %></td>
        <td><%= r['last_login'] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
    $('#instances').DataTable();
  });
</script>
